.worldwide-payments {
  padding: 100px 0;
  background-color: $gray;

  p {
    font-size: 2rem;
    margin-bottom: 30px;
  }

  .currency--list {
    display: grid;
    gap: 20px;

    &-item {
      background-color: $white;
      padding: 20px;
      border-radius: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;

      .country {
        display: flex;
        gap: 20px;
        align-items: center;
      }

      .flag {
        width: 64px;
        height: 64px;
        overflow: hidden;
        border-radius: 50%;
      }

      .currency {
        font-size: 2.4rem;
        font-weight: 500;

        &-alias {
          font-size: 1.6rem;
          color: #5F6368;
          text-transform: uppercase;
        }
      }

      .amount {
        text-align: right;

        .large {
          font-size: 2.4rem;
          font-weight: 500;
        }

        .small {
          font-size: 1.6rem;
          color: #5F6368;
        }
      }
    }
  }
}

.payments {
  padding-top: 100px;

  &--grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 20px;
    margin-top: 50px;
  }

  &--col {
    background-color: #AFF8C8;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;

    &-header {
      h4 {
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 10px;
      }

      p {
        font-size: 1.6rem;
        line-height: 1.3;
      }
    }

    &-footer {
      text-align: center;

      .image {
        height: 250px;

        img {
          height: 100%;
          width: 100%;
          object-fit: none;
        }
      }
    }
  }
}

.payment-methods {
  padding: 100px 0 150px;

  &--grid {
    display: grid;
    gap: 150px;
  }

  &--col {
    display: flex;
    align-items: center;
    gap: 150px;

    &-content {
      .title-row {
        margin: 0;

        .section-title {
          margin-bottom: 20px;
        }

        p {
          font-size: 1.8rem;
        }
      }
    }

    &-img {
      .image {
        background-color: $gray;
        height: 560px;
        width: 500px;
        border-radius: 10px;
        overflow: hidden;

        img {
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }
    }

    &:nth-child(even) {
      flex-direction: row-reverse;
    }
  }
}

.crm {
  &-content {
    &--wrapper {
      padding: 100px 135px;
      background-color: $secondary;
      border-radius: 10px;

      .title-row {
        color: $white;
        margin-bottom: 0;

        .subtitle {
          color: $body-color;
          background-color: $light-green;
        }
      }
    }
  }

  &-cta--list {
    display: grid;
    gap: 15px;

    &-item {
      background-color: $white;
      padding: 20px;
      border-radius: 10px;

      .account-creation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        &--title {
          display: flex;
          align-items: center;
          gap: 15px;

          .icon {
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: $secondary;

            img {
              max-height: 50px;
            }
          }

          .title {
            font-size: 2rem;
            font-weight: 500;
          }
        }

        &--badge {
          .text {
            padding: 7px 10px;
            font-weight: 500;
            background-color: #24EC7E;
            border-radius: 4px;
            text-transform: uppercase;
          }
        }
      }

      .payment-info {
        &--title,
        &--account {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 10px;
        }

        &--title {
          .flag {
            flex-shrink: 0;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            overflow: hidden;
          }

          .currency {
            font-size: 2rem;
            font-weight: 500;
          }
        }

        &--account {
          margin-top: 20px;

          .amount {
            font-size: 2rem;
            font-weight: 500;
          }

          .account-number {
            color: #CECFD2;

            .icon {
              img {
                width: 35px;
              }
            }
          }
        }
      }
    }
  }
}

.security {
  padding: 120px 0 60px;

  &-text {
    &--grid {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 50px 30px;
    }

    &--col {
      .security-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
        background-color: $secondary;
        border-radius: 50%;
        margin-bottom: 20px;

        img {
          max-height: 19px;
        }
      }

      .security-content {
        h4 {
          font-size: 2rem;
          font-weight: 600;
          margin-bottom: 15px;
        }
        p {
          line-height: 1.4;
        }
      }
    }
  }
}

.mobile-app {
  padding: 80px 0;

  .app-feature--list {
    @extend .list-unstyled;
    display: grid;
    gap: 30px;
    margin-top: 50px;

    li {
      h5 {
        color: $secondary;
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: 5px;
      }

      p {
        font-size: 1.6rem;
        line-height: 1.4;
        margin: 0;
      }
    }
  }
}

.payment-automation {
  padding: 70px 0 150px;

  &--grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 20px;
  }

  &--col {
    &-image {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $gray;
      padding: 30px;
      border-radius: 10px;
      margin: 0 auto;
      height: 335px;
      margin-bottom: 30px;

      img {
        max-height: 100%;
      }
    }

    &-content {
      h4 {
        font-size: 2rem;
        margin-bottom: 10px;
      }
    }
  }
}

.fingerpay-solution {
  &--img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    background-color: $secondary;
    border-radius: 10px;
    padding: 80px;
    text-align: center;
  }

  p {
    font-size: 2rem;
    margin-bottom: 30px;
  }
}

.account-management {
  padding: 150px 0 0;
  overflow: hidden;  

  &--swiper {
    padding-bottom: 100px;
    overflow: visible;

    .swiper-slide {
      height: initial;
    }

    .swiper-nav {
      position: absolute;
      bottom: 0;
      right: 0;
      display: flex;
      align-items: center;
      gap: 10px;

      .swiper-button-next, 
      .swiper-button-prev {
        position: static;
        width: 40px;
        height: 40px;
        background-color: $primary;
        border-radius: 50%;

        &::after {
          color: $white;
          font-size: 1.4rem;
        }

        &:hover:not(.swiper-button-disabled) {
          background-color: $body-color;
        }
      }
    }
  }

  .card-account-management {
    height: 100%;
    background-color: #AFF8C8;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 60px;
    border-radius: 10px;

    &--title {
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: 5px;
    }

    &--text {
      line-height: 1.3;
    }

    &--footer {
      padding: 0 30px;
    }
  }

  .analysis-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: $white;
    padding: 15px;
    gap: 15px;
    border-radius: 6px;

    h5 {
      font-size: 1.6rem;
      font-weight: 600;
      margin: 0;
    }

    p {
      margin: 0;
      font-size: 1.3rem;
      color: #73808C;
    }

    &--left {
      display: flex;
      align-items: center;
      gap: 15px;

      .image {
        flex-shrink: 0;
        width: 60px;
        height: 60px;
      }
    }

    &--right {
      text-align: right;
    }
  }
}

.digital-solution {
  padding: 100px 0;

  p {
    font-size: 2rem;
    margin-bottom: 30px;
  }

  &--grid {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: 20px;
    margin-top: 20px;
  }

  &--col {
    padding: 30px;
    background-color: $primary;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;

    &-header {
      color: $white;

      h5 {
        font-size: 1.6rem;
        line-height: 1.4;
      }
    }

    &-footer {
      .image {
        width: 90%;
        aspect-ratio: 1;
        margin: 0 auto;
        padding: 20px;

        img {
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }
    }
  }
}

.transaction-overview {
  padding: 100px 0;
  background-color: $gray;

  p {
    font-size: 2rem;
    margin-bottom: 30px;
  }

  &--grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    > * {
      flex: 0 0 calc(50% - 10px);
      max-width: calc(50% - 10px);
    }
  }

  &--col {
    .card-transaction-overview {
      background-color: $white;
      border-radius: 12px;
      text-align: center;
      padding: 30px;

      .flag {
        overflow: hidden;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin: 0 auto;
      }

      .amount {
        margin: 25px 0 15px;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.2;
      }

      .currency {
        color: #909090;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.1;
        text-transform: uppercase;
      }
    }

    &:nth-child(2n+2) {
      .card-transaction-overview {
        margin-top: 100px;
      }
    }

     &:nth-child(2n+3) {
      .card-transaction-overview {
        margin-top: -100px;
      }
    }
  }
}

// < 1400px
@include media-breakpoint-down(xxl) {
  .payment-methods {
    &--grid {
      display: grid;
      gap: 80px;
    }
    &--col {
      gap: 50px;
    }
  }

  .crm-content--wrapper {
    padding: 70px 50px;
  }

  .mobile-app {
    .app-feature--list {
      margin: 0;
    }

    &--img {
      margin-bottom: 30px;
    }
  }

  .fingerpay-solution {
    &--img {
      height: 400px;
    }
  }

  .digital-solution {
    &--grid {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    &--col {
      &-footer {
        .image {
          width: 50%;
        }
      }
    }
  }
}

// < 1200px
@include media-breakpoint-down(xl) {
  .worldwide-payments {
    .currency--list {
      margin-top: 50px;
    }
  }

  .payments {
    br {
      display: none;
    }

    &--col {
      &-footer {
        .image {
          height: 150px;

          img {
            object-fit: contain;
          }
        }
      }
    }
  }

  .payment-methods {
    &--col {
      &-img {
        .image {
          height: 460px;
          width: 400px;
        }
      }
    }
  }

  .crm-cta--list {
    margin-top: 50px;
  }

  .security {
    &-text {
      &--grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }
    }
  }

  .payment-automation {
    &--col {
      &-image {
        height: 250px;
      }
    }
  }

  .transaction-overview {
    &--grid {
      margin-top: 80px;
    }
  }
}

// < 992px
@include media-breakpoint-down(lg) {
  .payment-methods {
    padding-bottom: 100px;

    &--col {
      flex-direction: column-reverse;

      &:nth-child(even) {
        flex-direction: column-reverse;
      }

      &-img {
        width: 100%;

        .image {
          width: 100%;
        }
      }
    }
  }

  .mobile-app {
    .app-feature--list {
      gap: 20px;
    }

    &--img {
      img {
        max-height: 400px;
      }
    }
  }

  .fingerpay-solution {
    &--img {
      display: inline-flex;
      height: auto;
      padding: 30px;
      margin-bottom: 30px;

      img {
        max-height: 400px;
      }
    }
  }

  .digital-solution {
    &--col {
      &-footer {
        .image {
          width: 80%;
        }
      }
    }
  }
}

// < 768px
@include media-breakpoint-down(md) {
  .worldwide-payments .currency--list-item {
    .currency,
    .amount .large {
      font-size: 1.8rem;
    }
  }

  .payments {
    padding-top: 60px;

    &--grid {
      grid-template-columns: auto;
    }

    &--col-header h4 {
      font-size: 1.8rem;
    }
  }

  .payment-methods {
    padding: 60px 0;

    &--grid {
      gap: 50px;
    }

    &--col {
      &-img .image {
        height: auto;
      }
      &-content .title-row p {
        font-size: 1.6rem;
      }
    }
  }

  .security {
    padding: 60px 0 0;

    &-text {
      &--grid {
        grid-template-columns: auto;
        gap: 30px;
      }
    }
  }

  .payment-automation {
    padding: 0 0 60px;

    &--grid {
      grid-template-columns: auto;
      gap: 40px;
    }
  }

  .digital-solution,
  .transaction-overview,
  .worldwide-payments {
    padding: 60px 0;    
  }

  .digital-solution,
  .transaction-overview,
  .fingerpay-solution,
  .worldwide-payments {
    p {
      font-size: 1.6rem;
      margin-bottom: 20px;
    }
  }

  .digital-solution {
    &--col {
      padding: 20px;

      &-footer {
        .image {
          width: 95%;
        }
      }
    }
  }

  .account-management {
    padding: 60px 0 0;

    br {
      display: none;
    }

    .card-account-management {
      gap: 30px;
    }

    &--swiper .swiper-nav {
      left: 50%;
      transform: translateX(-50%);
      right: auto;
    }
  }

  .transaction-overview {
    &--grid {
      margin-top: 50px;
    }

    &--col {
      .card-transaction-overview .amount {
        font-size: 1.8rem;
      }
    }
  }
}

// < 576px
@include media-breakpoint-down(sm) {
  .worldwide-payments .currency--list-item {
    flex-direction: column;
    align-items: flex-start;

    .amount {
      text-align: left;
    }
  }

  .crm {
    &-content--wrapper {
      padding: 50px 30px;
    }

    &-cta--list-item {
      .account-creation--title .title,
      .payment-info--title .currency,
      .payment-info--account .amount {
        font-size: 1.6rem;
      }

      .account-creation {
        flex-direction: column-reverse;
        align-items: flex-start;

        &--badge .text {
          font-size: 1.3rem;
        }
      }

      .payment-info--account {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }

  .digital-solution {
    &--grid {
      grid-template-columns: auto;
    }

    &--col {
      flex-direction: column-reverse;
      gap: 20px;
      text-align: center;

      &-footer {
        .image {
          padding: 0;
          width: 100%;
          aspect-ratio: initial;

          img {
            max-width: 100px;
          }
        }
      }
    }
  }

  .account-management {
    .card-account-management {
      &--title {
        font-size: 1.8rem;
      }
      &--footer {
        padding: 0;
      }
    }
    .analysis-card {
      flex-direction: column;
      align-items: flex-start;

      h5 {
        font-size: 1.4rem;
        margin-bottom: 5px;
      }

      p {
        font-size: 1.2rem;
        line-height: 1.4;
      }

      &--left {
        align-items: flex-start;

        .image {
          width: 30px;
          height: 30px;
        }
      }

      &--right {
        text-align: left;
      }
    }
  }

  .transaction-overview {
    &--grid {
      flex-direction: column;

      >* {
        flex: none;
        max-width: 100%;
      }
    }

    &--col {
      &:nth-child(2n+2),
      &:nth-child(2n+3) {
        .card-transaction-overview {
          margin-top: 0;
        }
      }
    }
  }
}