$grid-gutter-width: 60px !default;

$body-bg: #ffffff;
$primary: #00423C;
$secondary: #097152;
$light-green: #24EC7E;
$body-color: #0C0A09;
$gray: #EDEFEC;

// Font Variables
$font-family-base: "Inter", sans-serif;

$font-weight-base: 300;
$header-font-weight: 600;

$cubic-transition: cubic-bezier(0.6, 0.01, 0.1, 0.96);