.btn {
  display: inline-block;
  padding: 12px 24px;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  border: 1px solid transparent;
  transition: 500ms $cubic-transition;

  &:hover {
    text-decoration: none;
  }

  &.btn-light-green {
    color: $body-color;
    background-color: $light-green;
    border-color: $light-green;

    &:hover {
      color: $white;
      background-color: $body-color;
      border-color: $body-color;
    }
  }

  &.btn-black {
    color: $white;
    background-color: $body-color;
    border-color: $body-color;

    &:hover {
      color: $body-color;
      background-color: $light-green;
      border-color: $light-green;
    }
  }

  &.btn-link {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 0;
    color: $body-color;
    font-weight: 500;

    .icon {
      display: block;
      width: 12px;
      height: 12px;
      background: url(../img/other/angle-right-black.svg);
      background-repeat: no-repeat;
      background-size: 8px;
    }

    &:hover {
      opacity: .7;
    }
  }

  &-grp {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  &.btn-block {
    display: block;
  }
}

// < 480px
@media (max-width: 479px) {
  .btn {
    &-grp {
      gap: 10px;

      .btn {
        width: 100%;
      }
    }
  }
}