.sliding-tabs {
  margin-left: 30px;

  .tabs {
    display: flex;
    position: relative;
    background-color: #008664;
    padding: 3px;
    border-radius: 99px;

    * {
      z-index: 2;
    }

    .tab {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 37px;
      width: 120px;
      font-size: 1.4rem;
      font-weight: 500;
      border-radius: 99px;
      cursor: pointer;
      transition: color 0.15s ease-in;
    }

    input[type="radio"] {
      display: none;

      &:checked {
        & + label {
          color: $body-color;
        }
      }
    }

    input[id=corporate-tab]:checked ~ .glider {
      transform: translateX(0);
    }

    input[id=business-tab]:checked ~ .glider {
      transform: translateX(100%);
    }

    input[id=personal-tab]:checked ~ .glider {
      transform: translateX(200%);
    }

    .glider {
      position: absolute;
      display: flex;
      height: 37px;
      width: 120px;
      background-color: #AFF8C8;
      z-index: 1;
      border-radius: 99px;
      transition: 0.25s ease-out;
    }
  }
}

// < 1400px
@include media-breakpoint-down(xxl) {
  .sliding-tabs .tabs {
    .tab,
    .glider {
      width: 100px;
    }
  }
}

// < 576px
@include media-breakpoint-down(sm) {
  .sliding-tabs {
    display: none;
  }
}